/***** Setup Settings *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.todo__app {
    background: radial-gradient(farthest-corner, purple, #a1a1a1);
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

/***** Header *****/

header {
    height: 25%;
    
}

.todo__title {
    padding: 2rem;
    color: #3e034d;
}

.todo__input {
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #000000;
}

/***** Main *****/

main {
    width: 80%;
    height:75%;
    margin: 0 auto;
    
}

.todo__list {
    color: white;
}

.todo__item {
    display: grid;
    grid-template-columns: 1fr 99fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(0, auto);
    border-bottom: 1px solid black;
    grid-template-areas: 
    ". entry delete"
    ". details .";
}

.todo__item:hover {
    cursor: pointer;
}



.todo__entry {
    grid-area: entry;
}

.todo__details {
    grid-area: details;
    font-size: 12px;
    opacity: 0;
}

.todo__delete {
    grid-area: delete;
}

.todo__max {
    color: red;
    opacity: 0;
}

.text {
    outline: none;
}
/*Hide / Show*/

.show {
    opacity: 1;
    padding: 0.2rem;
    
}


.max {
    color: red;
    opacity: 1;
}
